body {
    margin: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 1fr 8fr 1fr ;
    grid-template-areas: 
    "left header right" 
    "left main right" 
    "left footer right";
    position:absolute; 
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
   
}

.header-background {
    background-image: url(./photo-1522132423911-84d0c95b5291.jpeg);   
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
  /* position: absolute;
    z-index: 1; */ 
}

.header {
    grid-area: header;
    height: 100vh;
    align-self: center;
}


.right {
    grid-area: right;
    opacity: 0;
}

.left {
    grid-area: left;
    opacity: 0;
}

.sidenav-grid {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "sidenav-left middle sidenav-right";
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;

}

.middle {
    grid-area: middle;
}

.sidenav-left {
grid-area: sidenav-left;
writing-mode: vertical-rl;
text-orientation: mixed;
position: fixed;
margin-top: 5rem;
/* z-index: 0; */
}

.sidenav-right {
    grid-area: sidenav-right;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    position: fixed;
    margin-top: 5rem;
    /* z-index: 2; */
}

i {
    padding-bottom: 1rem;
}

.flex-websites {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-interests {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image {
    max-width: 25rem;
    width: 100%;
  height: auto;
}


.footer {
    grid-area: footer;
    background-color: rgb(198, 198, 198);
}
