body {
    margin: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 1fr 1fr 1fr ;
    grid-template-areas: 
    "header header header" 
    "left main right" 
    "left footer right";
    height: 100vh; 
}

.header {
    grid-area: header;
    background-image: url(./media/background.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.header h1 {
    display: block; 
    bottom: 25%;
    left: 20%;
    right:5%;
    position: absolute;
}

.left {
    grid-area: left;
    opacity: 0;
}

.right {
    grid-area: right;
    opacity: 0;
}

.main {
    display:flex;
    flex-direction: column;
}

.first-text-main {
    padding: 5% 10% 0 0;
}

.round-image {
    position: relative;
    height: 15rem;
    width: 15rem;
    border-radius: 15rem;
    border: .1rem solid black;
    transform: rotateZ(-120deg);
    transition: transform 1s;
}

.edge-text {
    position: absolute;
    top: -3rem;
    left: 50%;
    transform: translateX(-50%);
}

.round-image p:nth-child(2) {
    /* origion: */
    transform-origin: 0 9.6rem;
    transform: rotateZ(120deg) translateX(-50%); 
}

.round-image p:nth-child(3) {
    /* origion: */
    transform-origin: 0 9.6rem;
    transform: rotateZ(240deg) translateX(-50%); 
}

.image-container {
    align-self: center;
    padding: 0 0 0 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image {
max-width: 30rem;
width: 100%;
height: auto;
}

.some-text1 {
padding: 10% 20% 0 0;
}
.footer {
    grid-area: footer;
}

.name-left {
    z-index: -1;
    position: fixed;
    writing-mode: vertical-rl;
    text-orientation: upright;
    top: 30%;
    left: 1%;
    }

.sidenav-right {
    z-index: 1;
    position: fixed;
    writing-mode: vertical-rl;
    top: 5%;
    right: 3%;
}

.menu-icon {
display: inline-block;
border-radius: 50%;
height: 2rem;
width: 2rem;
margin-bottom: 1rem;
background-color:rgb(255, 198, 168);
border: 1px solid rgb(255, 234, 180);
opacity: 0.9;
}

i {
    padding-bottom: 1rem;
}



