



.inner-circle {
    position: relative;
    height: 50vw;
    width: 50vw;
    border-radius: 50%;
    -webkit-animation: glowbox 1s ease-in-out infinite alternate;
    -moz-animation: glowbox 1s ease-in-out infinite alternate;
    animation: glowbox 1s ease-in-out infinite alternate;
   }
    
    @-webkit-keyframes glowbox {
        from {
          box-shadow: 0 0 0.1rem #fff, 0 0 0.2rem #fff, 0 0 0.3rem rgb(255, 255, 255), 0 0 0.4rem rgb(255, 162, 0), 0 0 0.5rem rgb(255, 162, 0), 0 0 0.6rem rgb(255, 162, 0), 0 0 0.7rem rgb(255, 162, 0);
        }
        to {
          box-shadow: 0 0 0.3rem #fff, 0 0 0.4rem rgb(255, 255, 255), 0 0 0.5rem  rgb(255, 153, 0), 0 0 0.6rem  rgb(255, 153, 0), 0 0 0.7rem  rgb(255, 153, 0), 0 0 0.8rem rgb(255, 153, 0), 0 0 0.9rem rgb(255, 153, 0);
        }}
    

.outer-circle {
    position: absolute;
    height: calc(100% + 4rem);
    width: calc(100% + 4rem);
    top: -2rem;
    left: -2rem;
    transform-origin: center;
    text-align: center;
    transition: all 10s ease-in;
}
 
.inner-circle div:nth-child(1) {
    transform: rotate(120deg);
}

.inner-circle div:nth-child(2) {
   transform: rotate(240deg);
} 

.inner-circle div:nth-child(3) {
    transform: rotate(360deg);
}   



* { font-family: 'Fira Sans Condensed', sans-serif;
}  

body {
    margin: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 1fr 1fr 1fr ;
    grid-template-areas: 
    "header header header" 
    "left main right" 
    "left footer right";
    height: 100vh; 
}

.header {
    grid-area: header;
    background-image: url(./media/background.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.header h1{
    display: block; 
    bottom: 15%;
    left: 20%;
    right:20%;
    position: absolute;
font-size: 3rem;
font-weight: 400;
color:black;
}
.hello-text {
    position: absolute;
    animation: rotate 2s ;
}
@keyframes rotate {
    0% {
        transform: rotate(180deg);
    }

    80% {
        transform: rotate(180deg);
    }
  }

.left {
    grid-area: left;
    opacity: 0;
}

.right {
    grid-area: right;
    opacity: 0;
}

.main {
    display:flex;
    flex-direction: column;
    align-items: center;
}


.first-text-main {
    padding: 5% 10% 5rem 0;
    font-weight: 300;
    font-size: 1.5rem;

}




.footer {
    grid-area: footer;
    padding-top: 5rem;
}

.name-left {
    z-index: -1;
    position: fixed;
    writing-mode: vertical-rl;
    text-orientation: upright;
    top: 30%;
    left: 1%;
    }

.sidenav-right {
    z-index: 1;
    position: fixed;
    writing-mode: vertical-rl;
    top: 5%;
    right: 3%;
}

.dropdown-icon {
display: inline-block;
border-radius: 50%;
height: 2rem;
width: 2rem;
margin-bottom: 1rem;
background-color:rgb(255, 198, 168);
border: 1px solid rgb(255, 234, 180);
opacity: 0.9;
}

.show {
    opacity: 1;
}


.show img{
    width: auto;
    height: 1.2rem;
    padding-bottom: 1rem;
}



